nav {
  width: 100%;
  background-color: tomato;
}
.forms {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#input_nameuser,
#input_email,
#input_password,
#input_password2 {
  width: 100%;
  // border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}
.col {
  padding: 0;
  margin-right: 30px;
  width: 100%;
}
